.DS_Store
# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/


# ===============================
# Logs & caches
# ===============================
*.log
*.tmp

# ===============================
# OS / Editor files
# ===============================

Thumbs.db

# VS Code
.vscode/

# ===============================
# Environment & secrets
# ===============================
.env
.env.*

# ===============================
# Packaging / build
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Misc
# ===============================
*.zip
*.tar.gz